<!DOCTYPE html>

<html>
<head>
<title>겜중독</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="index.scss">
</head>
<body> 
<div class="wrapper">
	<div class="bodytitle">
<p class="bodytitle1" onclick="location.href='/'">겜중독</p>
</div>
</body>

 <!--사진 넣을 공간-->
<footer>


	<div class="container search" >
	<form id="SearchInput" action="/view" autocomplete="off" method="get" >
	<input type="text" name="username" class="form-control" placeholder="자신의 이름을 입력하세요.">
	&nbsp;<button type="submit" class="btn btn-primary" >확인</button>
	
	</form>
	</div>	    
<br>

<div id="copyright"> 
<p style="color:white">멋쟁이사자처럼 5기 겜중독<br> Copyright &copy; 2017 - All Rights Reserved</p>

</div>

</footer>

</div>

