<body>
<link rel="stylesheet" type="text/css" href="view2.scss">
    <div class="container box" style="text-align:center">
        <br>
    <img src="/assets/<%= @skill.image %>" class="champ">
    <br>
    <br>
    <p>이 스킬의 이름은 무엇일까요?</p>
    <br>
    <form action="/view4" method="POST">
        <input type="text" name="quiz" class="form-control2">
        <br>
        <input type="submit" class="btn btn-primary" value="확인" >
        <input type="text" name ="quiz_sol" value="<%= @skill.name %>" style="display:none;">
    </form>
</div>
</body>