<head>
    <link rel="stylesheet" type="text/css" href="view2.scss">
</head>
<div class="container bodytitle2" style="text-align:center">

<% if @quiz == @quiz_sol %>

    <div class="container">
    <div class="boxx">
<p>축하합니다!!!</p>
<br>
<p>게임 중독 입니다!</p>
    </div>
</div>
  
    
<% else %>

    <p> 틀렸습니다. <p>
    <form action="/view" method="get">
    <button onclick="location.href='/view3'" class="mb-2 btn btn-primary">다시 풀러가기</button>
    <input type="text" name ="number" value="<%=@count %>" style="display:none;">
    </form>
<% end %>
    
</div>